@font-face {
  font-family: "HelveticaNeue-Bold";
  src: url("fonts/Helvetica_Neue_LT_Std/HelveticaNeueLTStd-Bd.otf");
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("fonts/Helvetica_Neue_LT_Std/HelveticaNeueLTStd-Lt.otf");
}

body {
  background-color: #EAEAEA;
}

.container{
    width: 840px;
    margin: 0 auto;
}

.container *{
  box-sizing: border-box; 
}

/*-- our cleafix hack -- */
.row:before,
.row:after {
    content:"";
    display: table ;
    clear:both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 16.66%;
}

.col-1{ width: 16.66%; }
.col-2{ width: 33.33%; }
.col-3{ width: 50%;    }
.col-4{ width: 66.66%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%;   }

.header {
  margin: 0 30px;
}

.text-right {
  text-align: right;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font-family: 'HelveticaNeue-Bold';
  font-size: 35px;
  color: #000000;
  line-height: 43px;
}

.user-email {
  font-family: 'HelveticaNeue';
  font-size: 18px;
  color: #000000;
  line-height: 22px;

  width: 303px;
  line-height: 43px;
}

.user-email-grid {
  width: 388px;
}

.checkbox {
  margin-left: 30px;
  line-height: 43px;
  font-size: 12px;

  width: 187px;
}

.checkbox-grid {
  width: 102px;
}

.card {
  padding: 30px;
  margin: 30px;
  background-color: #ffffff;
}

.grid {
  margin: 30px 0 0 30px;
  width: 375px;
  float: left;
}

.host-info {
  font-family: 'HelveticaNeue-Bold';
  font-size: 16px;
  color: #000000;
  line-height: 19px;

  margin: 0;
}

.app-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.app-info {
  font-family: 'HelveticaNeue';
  font-size: 16px;
  color: #4A4A4A;
  line-height: 19px;

  list-style: none;
  position: relative;
  margin: 23px 0 0;
}

.app-info-grid {
  min-height: 40px;
}

.app-apdex {
  font-family: 'HelveticaNeue-Bold';
  font-size: 13px;
  color: #4A4A4A;
  line-height: 19px;
  opacity: 0.62;

  float: left;
  width: 4%;
}

.app-name {
  font-family: 'HelveticaNeue';
  font-size: 16px;
  color: #4A4A4A;
  line-height: 19px;
  padding-left: 15px;
  cursor: pointer;

  width: 96%;
}

.app-name-grid {
  float: left;
}

